<div class="container">
    <h3 style="margin-top: 0;">Open Rooms
        <a style="vertical-align: middle; font-size:10.5px" class="label label-primary" href="#/room-schedules/{{selectedBuilding.code}}" role="button">
            <i class="fa fa-clock-o"></i> Room Schedules
        </a>
    </h3>

    <!-- BUILDING SELECTOR -->
    <div class="col-sm-12" style="margin-bottom: 16px;">
        <label for="buildings">Building</label>
        <select class="form-control"
                ng-model="selectedBuilding"
                ng-change="onSelectedBuildingChange()"
                ng-options="(building.code + ' - ' + building.name) for building in buildings"
                id="buildings">
        </select>
    </div>

    <!-- OPEN TIMES -->
    <div class="col-sm-6 col-md-4" ng-show="showOpenTimesDiv">
        <table class="table table-condensed">
            <tr>
                <th>
                    <p style="text-align:left; margin: 3px;">
                        <i class="fa fa-university"></i> Classroom
                    </p>
                </th>
                <th>
                    <p style="text-align:right; margin: 3px;">
                        Available Until <i class="fa fa-clock-o"></i>
                    </p>
                </th>
            </tr>
            <tr ng-repeat="openTime in processedOpenTimes">
                <td>
                    <p style="text-align:left; margin: 3px;">
                        <b><a href={{openTime.url}}>{{openTime.name}}</a></b>
                    </p>
                </td>
                <td>
                    <p style="text-align:right; margin: 3px;">
                        {{openTime.occupied}}
                    </p>
                </td>
            </tr>
        </table>

        <span class="label label-default"><i class="fa fa-info-circle"></i> Tap on a classroom for more information</span>
        <br>
        <br>
        <i>Rooms may not always be accessible. 
		<br>Last updated for Fall 2015. </i>
		
		<br>
		<br>
		
		This version of Classrooms is deprecated, please use the official <a href='https://uwaterloo.ca/student-portal/features#open-classrooms'>Open Classrooms</a> widget on the University of Waterloo <a href='https://uwportal.uwaterloo.ca/'>Student Portal</a>.
    </div>

    <!-- NO OPEN TIMES MESSAGE -->
    <div class="col-sm-12" ng-show="showNoOpenTimesDiv">
        <p><i class="fa fa-exclamation-triangle"></i> All of the classrooms in this building are currently occupied.</p>
    </div>

    <!-- NO CLASSES SCHEDULED -->
    <div class="col-sm-12" ng-show="showNoClassesDiv">
        <p><i class="fa fa-info-circle"></i> No classes scheduled at this time, these rooms may be available</p>
    </div>

    <div class="col-sm-6 col-md-4" ng-show="showNoClassesDiv">
        <table class="table table-condensed">
            <tr>
                <th>
                    <p style="text-align:left; margin: 3px;">
                        <i class="fa fa-university"></i> Classroom
                    </p>
                </th>
                <th>
                    <p style="text-align:right; margin: 3px;">
                        Available Until <i class="fa fa-clock-o"></i>
                    </p>
                </th>
            </tr>
            <tr ng-repeat="room in openTimes">
                <td>
                    <p style="text-align:left; margin: 3px;">
                        <b>
                            <a href='#/room-schedules/{{selectedBuilding.code}}/{{room.roomNumber}}/M/editing'>
                                {{selectedBuilding.code + " " + room.roomNumber}}
                            </a>
                        </b>
                    </p>
                </td>
                <td>
                    <p style="text-align:right; margin: 3px;">
                        building closes
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-sm-12" ng-show="showNoClassesDiv">
        <span class="label label-default"><i class="fa fa-info-circle"></i> Tap on a classroom for more information</span>
        <br>
        <br>
        <i>Rooms may not always be accessible.</i>
    </div>
</div>
