<div class="container">
    <h3 style="margin-top: 0;" ng-show="showFormDiv">Room Schedules
        <a style="vertical-align: middle; font-size:10.5px" class="label label-primary" href="#/open-rooms/{{selectedBuilding.code}}" role="button">
            <i class="fa fa-institution"></i> Open Rooms
        </a>
    </h3>

    <form ng-submit="submit()" ng-show="showFormDiv">
        <!-- DAY SELECTOR -->
        <div class="col-sm-3" style="margin-bottom: 16px;">
            <label for="daysOfWeek">Day</label>
            <select class="form-control"
                    ng-model="selectedDay"
                    ng-options="day.name for day in daysOfWeek"
                    id="daysOfWeek">
            </select>
        </div>

        <!-- BUILDING SELECTOR -->
        <div class="col-sm-6" style="margin-bottom: 16px;">
            <label for="buildings">Building</label>
            <select class="form-control"
                    ng-model="selectedBuilding"
                    ng-options="(building.code + ' - ' + building.name) for building in buildings"
                    id="buildings">
            </select>
        </div>

        <!-- ROOM NUMBER -->
        <div class="col-sm-3" style="margin-bottom: 16px;">
            <label for="roomNumber">Room Number</label>
            <input type="text" class="form-control" ng-model="roomNumber" id="roomNumber">
        </div>

        <!-- SUBMIT BUTTON -->
        <div class="col-sm-12 hidden-xs">
            <button class="btn btn-warning btn-block" type="submit">Search</button>
        </div>
        <div class="col-sm-12 visible-xs" style="text-align: center;">
            <button class="btn btn-warning btn-circle btn-lg" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>

    <!-- HEADER WHEN FORM IS GONE -->
	<h3 style="margin-top: 0"; ng-hide="showFormDiv">
		<a href="{{urlBack}}">
			<i class="fa fa-arrow-left"></i>
		</a>

		{{selectedBuilding.code}} {{roomNumber}} - {{selectedDay.name}}
	</h3>

    <!-- NO CLASSES MESSAGE -->
    <div class="col-sm-12" ng-show="showNoClassesDiv" style="margin-top: 16px;">
        <p><i class="fa fa-check-circle"></i> Room has no classes scheduled for selected day.</p>
    </div>

    <!-- ROOM DOES NOT EXIST MESSAGE -->
    <div class="col-sm-12" ng-show="showRoomDoesNotExist" style="margin-top: 16px;">
        <p><i class="fa fa-exclamation-triangle"></i> Room has no classes scheduled or does not exist.</p>
    </div>

    <!-- EMPTY TIMES -->
    <div class="col-sm-12" ng-show="showOpenTimesDiv">
        <h3>Open Times</h3>
    </div>

    <div class="col-sm-6 col-md-4" ng-show="showOpenTimesDiv">
        <table class="table table-condensed" style="margin-bottom: 0;">
            <tr>
                <th>
                    <p style="text-align:left; margin: 3px;">
                        <i class="fa fa-arrow-up"></i> Begin
                    </p>
                </th>
                <th>
                    <p style="text-align:right; margin: 3px;">
                        End <i class="fa fa-arrow-down"></i>
                    </p>
                </th>
            </tr>
            <tr ng-repeat="time in processedOpenTimes">
                <td>
                    <p style="text-align:left; margin: 3px;">
                        {{time.begin}}
                    </p>
                </td>
                <td>
                    <p style="text-align:right; margin: 3px;">
                        {{time.end}}
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <!-- SCHEDULED CLASSES -->
    <div class="col-sm-12" ng-show="showOpenTimesDiv">
        <h3>Scheduled Sections</h3>
    </div>

    <div class="col-md-4 col-sm-6" ng-repeat="class in roomSchedule" ng-show="showOpenTimesDiv">
        <table class="table table-classes">
            <tr>
                <td colspan="3">
                    <p style="text-align:left; margin: 0; font-size: 32px; line-height: .9;">
                        {{class.subject}} {{class.catalog_number}}
                    </p>
                </td>
                <td colspan="3" style="vertical-align: middle">
                    <p style="text-align:right; margin: 0; font-weight: bold">
                        {{class.section}}
                    </p>
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <p style="text-align:left; margin: 3px;">
                        {{class.start_time}} - {{class.end_time}}
                    </p>
                </td>

                <td colspan="3">
                    <p style="text-align:right; margin: 3px;">
                        {{class.weekdays}}
                    </p>
                </td>
            </tr>

            <tr>
                <td colspan="6" style="text-align:left; font-size: 12px;">
                    <p style="margin: 0 0 0 3px;">{{class.title}}</p>
                </td>
            </tr>
        </table>
    </div>
</div>
